
@media screen and (max-width: 930px) {
  

  
  .links a p {
     display: none;
    }
   
    .left button b{
        display: none;
    }
    .left button{
       padding: 27px;
    }
    .left{
        width: 150px;
    }
    #right1{
        display: none;
    }
    #main1{
      padding-left: 47%;
     
    }
    #home{
      margin-left: 152px;
     
    }
    .profile1 p{
      display: none;
    }
    .post  , .post-1{
        border-right: 1px solid rgb(166 159 159 / 23%);
    }
  }
  .links a p{
      margin-left:43px;
      margin-top:-25px;
  }
  @media screen and (max-width: 770px){
    /* .container{
      grid-template-columns:repeat(1, 1fr);
    } */
    button{
      background: #000;
    }
    .left{
      width: 80px;
  }
  .links, header{
        padding-left: 30px;
  }
  button{
    margin-left: 14px;
  }
  .profile1{
    margin-left: -45px;
  }
  #main1{
    padding-left: 29%;
   
  }
  #home{
    margin-left: 82px;
    border-right: 1px solid  rgb(166 159 159 / 23%);
    width:567px;
   
  }
  }

  @media screen and (max-width: 690px){

   
    #right1{
      display: flex;
  }
  button{
    background: red;
  }
  .left{
    width: 50px;
}
.links, header{
      padding-left: 6px;
}
.left button{
  padding: 20px;
  margin-left:5px
}
.profile1{
  margin-left: -65px;
}
#main1{
  padding-left: 21%;
 
}
#home{
  margin-left: 52px;
  border-right: 1px solid  rgb(166 159 159 / 23%);
  width:566px;
 
}
  
  
  }

  @media screen and (max-width: 650px){
   button{
        background-color: green;
   }
   #left1{
     display: none;
   }
   #main1{
    padding-left: 8%;
   
  }
  #home{
    margin-left: 1px;
    border-right: 1px solid  rgb(166 159 159 / 23%);
    width:566px;
   
  }
  }
